* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  background-color: #3d0f0f;
}
img {
  max-width: 100%;
  height: auto;
  margin: 0 0 10px 0;
}
/* Section Inner */
div.section-inner {
  max-width: 1100px;
  padding: 0 25px;
  margin: 0 auto;
}

/* Header */
header {
  background-color: #e9e9e9;
  padding: 40px 0;
}
nav {
  background-color: #d4d4d4;
  position: relative;
}

nav ul {
  display: flex;
  justify-content: flex-start;
}

nav ul li {
  list-style: none;
  font-size: 93%;
  border-right: 1px solid #bababa;
}

nav ul li a {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  color: #000;
}
nav ul li:last-child {
  border-right: none;
}
/* =============BURGER MENU============== */
.toggle-button {
  position: absolute;
  right: 1rem;
  top: 0.5rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}
.bar {
  height: 3px;
  width: 100%;
  background-color: #666;
  border-radius: 30px;
}
/* =================END=================== */
.body-content {
  padding: 50px 0;
  background-color: #fff;
}

/* Thirds */
.thirds {
  display: flex;
  justify-content: space-between;
  padding-bottom: 50px;
}

.one-third {
  flex-basis: 30%;
}

.two-columns {
  display: flex;
}

.main {
  flex: 2;
  margin-right: 5%;
}
.main p {
  margin-bottom: 5%;
}
.side {
  flex: 1;
}

/* Info Box */
.info-box-a {
  background-color: #050a0c;
  padding: 20px;
  font-size: 13px;
  margin: 0 0 15px 0;
}

.info-box-b {
  background-color: #23200e;
  padding: 20px;
  font-size: 13px;
  margin: 0 0 15px 0;
}

/* Footer */
.footer {
  background-color: #3b1212;
  color: #fff;
  padding: 15px 0;
  text-align: center;
}

/* ===============
RESPONSIVE CSS
===============*/

@media screen and (max-width: 900px){
  body{
    color: rgb(154, 182, 11);
  }

  .thirds{
    flex-wrap: wrap;
  }
  .one-third{
    flex-basis: 47%;
    margin-bottom: 1rem;
  }
  .one-third-last{
    flex-basis: 100%;
  }
}

@media screen and (max-width: 500px){

  .thirds{
    display: block;
    width: 100%;
  }
  .two-columns{
    display: block;
    width: 100%;
  }
  .hide-mobile{
    display: none;
  }
  nav ul {
    display: none;
  }
  .toggle-button{
    display: flex;
  }
}